.image-slider {
  max-width: 100%;
  margin-top: 20px;
}

.buttons-slider {
  margin: 10px;
}

.canvas-preview {
  border: 1px solid black;
  object-fit: contain;
  width: 250px;
  height: 250px;
}

.ReactCrop__crop-mask {
  opacity: 0;
}